{% extends 'base.html' %}


{% block main %}

<!-- search result information --> 
<section class="series-cards">
    <h2 class="text-center" style="user-select: none;" id="Umbrella_anchor">Searching result...</h2>

    <div class="card-columns" >
        {% for umbrella in Umbrellas%}
        <article class="card my-3">
            <a href="{{ url_for('main.Umbrellas', umbrellaid=umbrella.id)}}">
                <img class="card-img" src="{{url_for('static', filename='img/'+umbrella.image)}}" alt="Card image">
                <div class="card-img-overlay text-center p-auto d-flex flex-column justify-content-end">
                    <div class="card-body">
                        <h4 class="card-title d-sm-block d-md-block">{{umbrella.name}}</h4>
                        <h6 class="card-subtitle mb-2 d-sm-none d-md-none d-lg-block d-xl-block">{{umbrella.artist}}
                        </h6>
                        <p class="card-text d-sm-none d-md-none d-lg-none d-xl-block">{{umbrella.description}}
                        </p>
                    </div>
                    <div class="add d-flex justify-content-around align-items-center">
                        <div class="price d-sm-block d-md-block">
                            <h6 class="card-text tag">A${{umbrella.price}}</h6>
                        </div>
                        <div>
                            <form action="{{ url_for('main.order') }}">
                                <input type="hidden" id="umbrella_id" name="umbrella_id" value="{{ umbrella.id }}">
                                <input class="btn btn-primary" type="submit" value="Add to cart">
                            </form>
                        </div>
                    </div>
                </div>
            </a>
        </article>
        {% endfor %}
    </div>
</section>    

{% endblock %}
