{% extends 'base.html' %}


{% block head %}
<!-- add a big banner to welcome user -->

<!-- Topic image -->
<div id="topic-story" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#topic-story" data-slide-to="0" class="active"></li>
    </ul>

    <div class="carousel-inner">
        <!-- the selected series item -->
        <div class="carousel-item active" style="max-height: 500px;">
            <img class="d-block w-100" src="{{url_for('static', filename='img/'+item.image)}}" alt="Slide story image">
            <div class="carousel-caption d-lg-block">
                <h1 class="display-4" data-aos="fade-left" data-aos-delay="200">{{item.name}}</h1>
                <p class="lead" data-aos="fade-right" data-aos-delay="300">{{item.slogan}}</p>
                <p class="text-small text-muted d-xl-block" data-aos="fade-up" data-aos-delay="400">{{item.description}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
<!-- items information -->
<section class="series-cards">
    <h3 class="text-center mb-3" style="user-select: none; " data-aos="fade-up" data-aos-delay="200">the <span style="color: #e34249;" data-aos="fade-up" data-aos-delay="500">{{item.name}}</span> Style selection</h3>

    <div class="card-columns">
        
        {% for umbrella in umbrellas%}
        <article class="card my-3 mx-auto">
            <a href="{{ url_for('main.Umbrellas', umbrellaid=umbrella.id)}}">
                <img class="card-img" src="{{url_for('static', filename='img/'+umbrella.image)}}" alt="Card image">
                <div class="card-img-overlay text-center p-auto d-flex flex-column justify-content-end">
                    <div class="card-body">
                        <h4 class="card-title d-sm-block d-md-block">{{umbrella.name}}</h4>
                        <h6 class="card-subtitle mb-2 d-sm-none d-md-none d-lg-block d-xl-block">{{umbrella.artist}}
                        </h6>
                        <p class="card-text d-sm-none d-md-none d-lg-none d-xl-block">{{umbrella.description}}
                        </p>
                    </div>
                    <div class="add d-flex justify-content-around align-items-center">
                        <div class="price d-sm-block d-md-block">
                            <h6 class="card-text tag">A${{umbrella.price}}</h6>
                        </div>
                        <div>
                            <form action="{{ url_for('main.order') }}">
                                <input type="hidden" id="umbrella_id" name="umbrella_id" value="{{ umbrella.id }}">
                                <input class="btn btn-primary" type="submit" value="Add to cart">
                            </form>
                        </div>
                    </div>
                </div>
            </a>
        </article>
        {% endfor %}
    </div>
</section>

<div class="backToTop">
    <div class="mx-2"></div>
    <a href="{{ url_for('main.index', _anchor='Umbrella_anchor') }}" class="btn btn-light btn-sm" data-aos="fade-up"
        data-aos-delay="200">Shop others</a>
    <div class="mx-2"></div>
    <a href="{{ url_for('main.order') }}" class="btn btn-light btn-sm" data-aos="fade-up" data-aos-delay="300">Go to
        cart</a>
</div>
{% endblock %}




