{% extends 'base.html' %}


{% block main %}
<style>
    .bella:hover {
        color: #e34249;
        transition: all 0.5s;
        transition-timing-function: ease;
    }
    .sub-bella{
    animation-name: sub_bella;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    }
    
    @keyframes sub_bella{
    0% {color: #e34249;}
    100% {color: #daa32d;}
    }
    
</style>
<section style=" background-color:  rgb(222, 216, 211)!important">
        <div class="d-flex flex-column justify-content-center mx-auto p-5">
            
            <div class="my-5 col-lg-6 col-sm-8 text-center mx-auto  style="user-select: none;">
                <h2 id="top_story" data-aos="fade-up" data-aos-delay="200">
                    <span style="color: #242424;" >The Um<span class="bella">bella</span>
                        <br> the <span class="bella">beauty</span> of umbrella</span>
                    <br>
                </h2>
                <h6 class="sub-bella" data-aos="fade-up" data-aos-delay="300">
                    Buy an umbrella tells your own story.
                    <br>
                </h6>
            </div>

            <div class="container m-3 mx-auto" data-aos="fade-up" data-aos-delay="500">
                <img src="{{url_for('static', filename='img/IMG_2250.JPG')}}" alt="" style="background-image: cover; box-shadow: 0px 5px 7px rgba(0,0,0,0.5);" > 
            </div>

            <div class="container m-3 mx-auto" style="user-select: none;" >
                <div class="row no-gutters" data-aos="fade-up" data-aos-delay="300">
                    <div class="col-12 col-sm-6 col-md-8 p-lg-5 p-sm-3 p-2 font-weight-light text-xl-left" style="background-color: white;">
                        <p class="largetxt"><span class="font-italic font-weight-normal">"Everyone deserves a special umbrella that can tell a story for
                            themselves."</span> <br><br>  <span class="font-weight-bold">The Umbella</span> is an online
                            umbrella eCommerce store that sells one high-quality umbrella with multiple amazing shade designs. <span class="font-weight-bold">The Umbella</span> dedicates to provide plenty of pattern options which can be categorised in series by the several distinctive art styles. In here, you can learn the artist and the story of the umbrella pattern before purchase one.
                        </p>
                    </div>
                    <div class="col-6 col-md-4 col-sm-6 d-flex justify-content-center mx-auto my-auto logo_bg" data-aos="fade-up" data-aos-delay="500">
                        <img class="m-3" src="{{url_for('static', filename='img/Umbella_logo.jpg')}}" alt=""
                        style="width: 35%; Height: 35%; background-image: cover; box-shadow: 0px 2px 4px rgba(0,0,0,0.3); ">
                    </div>
                    
                </div>
            </div>
            <div class="backToTop mb-3 mx-auto" data-aos="fade-up" data-aos-delay="300">
                <a href="{{ url_for('main.story',_anchor='top_story') }}"
                    class="btn btn-light btn-sm"">Back to top</a>
                    <div class=" mx-2"></div>
                <a href="{{ url_for('main.index', _anchor='Umbrella_anchor') }}" class="btn btn-light btn-sm">Shop</a>
                <div class="mx-2"></div>
            </div>
        </div>

</section>
{% endblock %}
