{% extends 'base.html' %}



{% block main %}
<!-- each tour is a bootstrap card -->


<div class="container-fluid product-bg text-center">
    <!-- umbrella id -->
    <div>
        <h6 class="w-100 text-center pt-4 text-secondary font-weight-light" id="serialNumber_anchor">{{umbrella.series_id}}-{{umbrella.id}}</h6>
    </div>
    <!-- main information of umbrella -->
    <section class="row justify-content-center">
        <article class="detail col-xl-2 col-lg-3 col-md-6 text-center">
            <!-- artiest information -->
            <div class="detail-group mt-xl-3 mt-lg-2 mt-md-3">
                <h6 class="text-small-title" data-aos="fade-up" data-aos-delay="200">Artist</h6>
                <p class="text-subtle" data-aos="fade-up" data-aos-delay="400">{{umbrella.artist}}</p>
            </div>
            <!-- design story script -->
            <div class="detail-group mt-xl-3 mt-lg-2 mt-md-3">
                <h6 class="text-small-title" data-aos="fade-up" data-aos-delay="300">Pattern story</h6>
                <p class="text-subtle" data-aos="fade-up" data-aos-delay="500">{{umbrella.description}}</p>
            </div>
            
        </article>
        <div class="col-xl-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div id="topic-story" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#topic-story" data-slide-to="0" class="active"></li>
                    <li data-target="#topic-story" data-slide-to="1"></li>
                </ul>
            
                <div class="carousel-inner">
                    <!-- pictures of umbrella -->
                    <div class="carousel-item active" style="max-height: 700px;">
                        <img class="d-block w-100" src="{{url_for('static', filename='img/'+umbrella.image)}}" alt="Umbrella picture">
                    </div>
                    <div class="carousel-item" style="max-height: 700px;">
                        <img class="d-block w-100 " src="{{url_for('static', filename='img/'+umbrella.view)}}" alt="pattern plain view">
                    </div>
            
                </div>
            
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#topic-story" data-slide="prev"></a>
                <a class="carousel-control-next" href="#topic-story" data-slide="next"></a>
            </div>

        </div>
        <div class="detail col-xl-2 col-lg-3 col-md-6 text-center" >
            <!-- price information -->
            <div class="price-container">
                <span class="currencyFormat align-top" data-aos="fade-up" data-aos-delay="300">A$</span>
                <span class="itemPrice align-middle" data-aos="fade-up" data-aos-delay="500">{{umbrella.price}}</span>
            </div>
            <!-- umbrella title -->
            <div class="itemName my-xl-5 my-md-4 py-xl-5 py-md-3 " data-aos="fade-up" data-aos-delay="400">{{umbrella.name}}</div>
            <!-- shop button -->
            <div>
                <form action="{{ url_for('main.order') }}" data-aos="fade-up" data-aos-delay="200">
                    <input type="hidden" id="umbrella_id" name="umbrella_id" value="{{ umbrella.id }}">
                    <input class="btn btn-secondary buy" type="submit" value="Purchase">
                </form>
            </div>
        </div>
    </section>
    <!-- space divider -->
    <div>
        <h6 class="pt-4"></h6>
    </div>
</div>
<!-- leading sign -->
<div>
    <div class="text-white text-center">
        <div>
            <p class="h3 text-dark mb-4" style="color: darkslategray;">more to know</p>
            <span style="color: #e34249;">↓</span>
        </div>
    </div>
</div>

<!-- spection of the product -->
<article class="w-75 mt-5 mx-auto text-left">
    <table class="table table-sm" style="user-select: none;" data-aos="fade-up" data-aos-delay="300">
        <thead >
            <tr>
                <th colspan="3" class="text-center">Specification</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Series</td>
                <td class="text-subtle">{{item.name}} style umbrella</td>
            </tr>
            <tr>
                <td scope="row">Dimension</td>
                <td class="text-subtle">{{umbrella.dimensions}}</td>
            </tr>
            <tr>
                <td scope="row">Weight</td>
                <td class="text-subtle">{{umbrella.weight}} g</td>
            </tr>
            <tr>
                <td scope="row">Topic Colour</td>
                    <td>
                    <div class="color-group">
                        <div class="colour" style="background-color: {{umbrella.color}}">AA</div>
                        <span class="text-subtle">{{umbrella.color_name}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td scope="row">Pattern style</td>
                <td class="text-subt">
                    <img src="{{url_for('static', filename='img/'+umbrella.pattern)}}" alt="sample image">
                </td>
            </tr>
            <tr>
                <td scope="row">Texture</td>
                <td class="text-subtle">{{umbrella.texture}}</td>
            </tr>
            <tr>
                <td scope="row">Type</td>
                <td class="text-subtle">{{umbrella.item_type}}</td>
            </tr>
            <tr>
                <td scope="row">Featuring</td>
                <td class="text-subtle">
                    <ul>
                        <li>{{umbrella.description_1}}</li>
                        <li>{{umbrella.description_2}}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="backToTop">
        <a href="{{ url_for('main.Umbrellas', umbrellaid=umbrella.id, _anchor='serialNumber_anchor') }}" class="btn btn-light btn-sm"" data-aos="fade-up" data-aos-delay="100">Back to top</a>
        <div class="mx-2"></div>
        <a href="{{ url_for('main.index', _anchor='Umbrella_anchor') }}" class="btn btn-light btn-sm" data-aos="fade-up" data-aos-delay="200">Shop others</a>
        <div class="mx-2"></div>
        <a href="{{ url_for('main.order') }}" class="btn btn-light btn-sm" data-aos="fade-up" data-aos-delay="300">Go to cart</a>
    </div>
</article>
<script src="{{url_for('static', filename='js/theUmbella_product.js')}}"></script>
{% endblock %}


